.header {
    margin-bottom: 70px;
    width: 100%;
    height: 25px;
}

.logo-link {
    display: inline-block;
    margin-right: 555px;
    width: 127px;
    height: 21.42px;
}

.header__link {
    display: inline-block;
    height: 25px;
    margin-right: 58px;
    letter-spacing: -0.035em;
    vertical-align: top;
    text-decoration: none;
}

.header__link:last-child {
    margin-right: 0;
}

.hero-inner {
    margin-top: 33px;
}

.hero__title {
    margin-bottom: 30px;
    margin-right: 194px;
    font-size: 60px;
    line-height: 60px;
    letter-spacing: -0.03em;
    color: #121212;
}

.hero__description {
    height: 500px;
    position: relative;
    box-sizing: border-box;
    background-image: url(../resources/desktop-tablet/interiors.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
}

.hero__text {
    position: absolute;
    bottom: 40px;
    left: 40px;
    width: 430px;
    height: 81px;
    font-size: 20px;
    line-height: 133%;
    letter-spacing: -0.03em;
    color: #FFF;
}   

@media (max-width: 1199px) {

    .hero__title {
        font-size: 50px;
        line-height: 60px;
    }

    .hero__description {
        width: 100%;
    }

    .hero__text {
        font-size: 20px;
        bottom: 30px;
    }
}

@media (max-width: 767px) {

    .hero__title {
        width: 100%;
        height: auto;
        font-size: 30px;
        line-height: 31.62px;
    }

    .hero__description {
        width: 100%;
    background-image: url(../resources/mobile/interiors.png);
    }

    .hero__text {
        width: 95%;
        bottom: 15px;
        right: 23px;
        left: 15px;
        font-size: 16px;
        line-height: 100%;
    }
}